html {
  box-sizing: border-box;
  max-width: 1600px;
  margin: auto;
  height: 100%;
  position: relative;
}

/* html {
  box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1600px;
  font-family: sans-serif;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 1400px;
}

body {
  width: 100%;
  margin: auto;
  min-height: 100%;
} */


.table {
  width: 70%;
  display: flex;
  justify-content: center;
}

.home-page{
  display: flex;
}

th, td {
  padding: 5px;
  text-align: center;
}

th {
  font-size: 25px;
  font-weight: bold;
}

td {
  font-size: 20px;
}


