.email-input, 
.password-input
{
  display: flex;
  flex-direction: column;
}

.email-input input, 
.password-input input
{
  width: 180px;
  padding: 3px;
  margin: 5px 0;
  border: 1px solid darkgray;
  border-radius: 5px;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background:linear-gradient(0deg, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)), url('../images/app\ draft.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
  
  .login-page .submit-btn {
    padding: 5px 20px;
    background: white;
    margin-top: 20px;
    border: 1px solid green;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .login-page .submit-btn:hover {
    cursor: pointer;
    background-color: green;
    color: white;
  }
  
  .login-page form div{
    padding-bottom: 25px;
  }
  
  .login-page .key-picture {
    width: 100px;
    position: absolute;
    right: -53px;
    top: 19px;
  }
  
  .login-page .key-picture img {
    width: 100%;
  }
  
  
.login-page form{
    padding: 20px 30px;
    border-radius: 10px;
    margin: 30px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .login-page .form-valid {
    border: 2px solid green;
    box-shadow: 0px 0px 15px 0px darkgreen;
  }

  .login-page .form-invalid{
    border: 2px solid darkred;
    box-shadow: 0px 0px 15px 0px darkred;
  }
  
  .email-input , .password-input {
    position: relative;
  }

  .email-input p , .password-input p {
    position: absolute;
    bottom: -9px;
    color: darkred;
    font-style: italic;
  }